<div class="row">
  <div class="col-xs-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Lease Tag</th>
          <th>Serial Number</th>
          <th>IP Address</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="computer in vm.computerList">
          <td>{{computer.LeaseTag}}</td>
          <td>{{computer.SerialNumber}}</td>
          <td>{{computer.IPAddress}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h2>Actions</h2>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-block btn-default" ng-click="vm.identityFinder();">Install Identity Finder</button>
  </div>
</div>