<div class="row">
  <div class="col-xs-12">
    <h4>{{vm.OUInfo.CurrentContainer}}</h4>
    <button class="btn btn-primary btn-block" ng-click="vm.setContainer(vm.OUInfo.CurrentContainer)">Select this OU</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-default btn-block" ng-repeat="container in vm.OUInfo.ListOfContainers" ng-click="vm.navigateToContainer(container.FullName);">{{container.ShortName}}</button>
  </div>
</div>