@{
    ViewBag.Title = "EnableAD";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Command Executed!</h3>
        <a href="~/Computer/Name?computerName=@ViewBag.ComputerName" class="btn btn-default btn-block">Back</a>
    </div>
</div>