@{
    ViewBag.Title = "MoveInADConfirmed";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<h2>It has been moved!</h2>
<a href="~/Computer/Name?computerName=@ViewBag.ComputerName" class="btn btn-default btn-block">Back</a>