@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in ViewBag.users as List<string>)
                {
                <tr><td>@line</td><td><a href="~/Computer/UsersDelete?computerName=@ViewBag.ComputerName&username=@line" class="btn btn-default btn-danger"><span class="glyphicon glyphicon-remove"></span> Remove</a></td></tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="~/Computer/UsersAdd?computerName=@ViewBag.ComputerName" class="btn btn-default btn-block">Add User</a>
    </div>
</div>