@{
    ViewBag.Title = "UsersAddConfirmed";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Added!</h2>
        <a href="~/Computer/Index" class="btn btn-default">Back</a>
    </div>
</div>