@{
    ViewBag.Title = "Kill";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h2>The Fix</h2>
    </div>
    <div class="col-xs-12">
        <img src="~/Content/Images/image1.jpg" alt="how bout it" class="img-thumbnail">
        <br />
        <a class="btn btn-danger btn-large btn-block" href="@Url.Action("KillAction", "Home")">Kill</a>
    </div>
</div>
