<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label for="computerName">Computer Name</label>
      <input type="text" class="form-control" placeholder="Computer Name" ng-model="vm.computerSearchValue">
    </div>
    <button type="button" class="btn btn-default" ng-click="vm.searchForComputer()">Submit</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button type="button" class="btn btn-success" ng-click="vm.USMTConsole()">Go to USMT Console</button>
  </div>
</div>